@font-face {
    font-family: 'Ogg Text';
    src: url('fonts/OggText-Light.woff2') format('woff2'),
        url('fonts/OggText-Light.woff') format('woff'),
        url('fonts/OggText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ogg Text';
    src: url('fonts/OggText-LightItalic.woff2') format('woff2'),
        url('fonts/OggText-LightItalic.woff') format('woff'),
        url('fonts/OggText-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ogg Text';
    src: url('fonts/OggText-Book.woff2') format('woff2'),
        url('fonts/OggText-Book.woff') format('woff'),
        url('fonts/OggText-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ogg Text';
    src: url('fonts/OggText-BookItalic.woff2') format('woff2'),
        url('fonts/OggText-BookItalic.woff') format('woff'),
        url('fonts/OggText-BookItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ogg Text';
    src: url('fonts/OggText-Medium.woff2') format('woff2'),
        url('fonts/OggText-Medium.woff') format('woff'),
        url('fonts/OggText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ogg Text';
    src: url('fonts/OggText-MediumItalic.woff2') format('woff2'),
        url('fonts/OggText-MediumItalic.woff') format('woff'),
        url('fonts/OggText-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ogg Text';
    src: url('fonts/OggText-Bold.woff2') format('woff2'),
        url('fonts/OggText-Bold.woff') format('woff'),
        url('fonts/OggText-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ogg Text';
    src: url('fonts/OggText-BoldItalic.woff2') format('woff2'),
        url('fonts/OggText-BoldItalic.woff') format('woff'),
        url('fonts/OggText-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ogg Text';
    src: url('fonts/OggText-ExtraBold.woff2') format('woff2'),
        url('fonts/OggText-ExtraBold.woff') format('woff'),
        url('fonts/OggText-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ogg Text';
    src: url('fonts/OggText-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/OggText-ExtraBoldItalic.woff') format('woff'),
        url('fonts/OggText-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

